*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(https://backiee.com/static/wallpapers/560x315/172871.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width: 50%;
    height: 70%;
    max-width:500px;
    color: #fff;
    background:linear-gradient(135deg,rgb(16, 43, 38),rgb(13, 46, 45));
    opacity: 0.9;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}
.search{
    display: flex;
    justify-content: space-between;
    height: 40%;
}

.search input{
    background: #ebfffc;
    color: #555;
    border-radius: 30px;
    flex:1;
    margin-right: 40px;
    font-size: 18px;
    height: 60px;
    border: 0;
    outline: 0;
    padding: 15px 40px;

}

.search button{
    border:0;
    outline:0;
    background:#ebfffc;
    border-radius:50%;
    width: 60px;
    height: 60px;
    cursor:pointer;
    margin: 0px 20px 0px 10px;
}
.detail{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    padding: 0 20px;
}

.weather_icon{
    height: 100px;
    width: 150px;
    padding: 0px 20px;
}
.weather h1{
    font-size: 4rem;
}
.weather h2{
    font-size: 2rem;
}
.weather p{
    font-size: 1.2rem;
    font-weight: 500;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
  
}
.col img{
    width: 40px;
    margin-right: 20px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    color: black;
    display: none;

}
.current-loc{
    width:20%;
    position: absolute;
    left:50%;

}
.current-loc button{
    height: 40px;
    width: 100%;
    transform: translate(-50%);
    background-color: #ebfffc;
    box-shadow: 2px seagreen;
    font-size: 1.3rem;
    font-weight: 500;
}

